<h1>Cadastro de novo Usuário</h1>


            <div class="panel-default">
                  <div class="panel-heading">
                    Informe os Dados
                  </div>
                  <div class="panel-body">
                    <div class="col-lg-6">
                          <div class="form-group">
                            <label> Nome </label>
                            <input class="form-control" placeholder="Ex: Fulano da Silva">
                          </div>
                    </div>
                  </div>

                    <div class="panel-body">

                      <div class="col-lg-6">
                            <div class="form-group">
                              <label> Matricula </label>
                              <input class="form-control" placeholder="Ex: 924">
                            </div>
                      </div>
                    </div>

                      <button type="submit" class="btn btn-success">Cadastrar</button>
            </div>
